.mig-schema-table__th {
  background-color: #fcfcfc;
  border-right: 1px solid #ddd;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  color: #666;
  display: flex;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
  user-select: none;

  &:first-child {
    border-left: 1px solid #ddd;
  }

  div {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &--sorted {
    background-color: #eff6fb;
  }

  &--dragging {
    opacity: 0.5;
    .mig-schema-table__th__trigger-el {
      display: none !important;
    }
  }

  &--drop-target {
    border-right: 3px dashed green;
    .mig-schema-table__th__trigger-el {
      display: none !important;
    }
  }

  &--filter-ACTIVE .mig-schema-table__th__label-body-text {
    text-decoration: underline;
    font-style: italic;
  }

  &__label-body {
    display: flex;
    flex: 1;
    font-size: 14px;
    align-items: center;

    &-text {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  &__trigger-el {
    display: none;
    position: absolute;
    border: 1px solid #ddd;
    top: 0;
    right: 0;
    bottom: 0;
    width: 24px;
    cursor: pointer;
    background-color: #eff6fb;
    color: #666;
    font-size: 28px;
    text-align: center;
    padding: 5px 0 0 !important;
  }

  &__sort-icon {
    font-size: 24px;
    width: 32px;
    display: block;
    text-align: center;
  }

  &:hover {
    background-color: #eff6fb;

    .mig-schema-table__th__trigger-el {
      display: block !important;
    }
  }
  svg {
    vertical-align: baseline;
  }
}
