.mig-schema-table__td {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-left: 8px;
  padding-right: 8px;
  display: flex;
  align-items: center;

  &--odd {
    background-color: var(--bs-gray-100, #f8f9fa);
  }

  &--even {
    background-color: var(--bs-white, #fff);
  }
  &--selected {
    background-color: var(--bs-gray-300, #dee2e6);
  }
}
