.mig-schema-table__th-menu {
  background-color: white;
  z-index: 99999;
  label {
    flex: 1;
  }

  .mig-schema-table__th-menu__sub-menu-indicator {
    padding-left: 8px;
    margin-left: 8px;
  }

  &__icon {
    display: block;
    width: 24px;
    overflow: hidden;
    text-align: center;
  }
}

.mig-schema-table__th-menu__sub-menu {
  background-color: white;
  border: 1px solid #ddd;
  z-index: 99999;
}

.mig-schema-table-menu {
  font-size: 14px;
  list-style: none outside;
  padding: 0;
  margin: 0;

  li {
    display: flex;
    border: 1px solid #ddd;
    align-items: center;
    cursor: pointer;

    .react-datepicker{
      width: 20.5rem;
    }

    &:hover {
      background-color: #eff6fb;
    }
  }
}
