.mig-schema-table__column_resizer {
  position: absolute;
  top: 0;
  user-select: none;
  background-color: transparent;
  cursor: e-resize;
  width: 3px;

  &--dragged,
  &:hover {
    background-color: #bbb;
    bottom: 0 !important;
  }
}
