.mig-schema-table {
  &,
  * {
    box-sizing: border-box;
  }

  button {
    border: 1px solid #e4e4e4;
    padding: 8px;
  }

  button:enabled {
    background-color: #f6f6f6;
    color: #404040;
    &:hover {
      border-color: #dbdbdb;
      background-color: #ececec;
    }
  }

  input {
    padding: 8px;
    border: 1px solid #888;

    &:hover {
      border-color: lightblue;
    }
  }

  select {
    height: 33px;
  }

  &__custom_element_placeholder {
    flex: 1;
  }

  &__tbody {
    overflow-x: hidden !important;
    border-collapse: collapse;
    width: 100%;
  }

  &__th-row {
    overflow: hidden !important;
  }

  &--clickable-rows .mig-schema-table__td {
    cursor: pointer;
  }

  &__action-container {
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    align-items: center;
  }

  &__row_counter {
    margin-left: 8px;
    font-size: 0.835rem;
  }

  &__column_resize_container {
    position: relative;
  }

  &__no_data {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
  }
}
